<h2>My collection</h2>
{{#each books as |book|}}
<div id="collection">
  <div class="book">
    <img src="{{coverImageUrl}}">
    <h3> {{title}}</h3>
    <p>Author: {{author}}</p>
    <p> </p>

  </div>
</div>
{{/each}}