
<form id="search-form" method="GET">
    <input id="search-query" type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>
<script src="/js/search.js"></script>