  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
   <style>
    .book {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
      background-color: #DFD3C3;
    }
    .book img {
      max-width: 100%;
      border-radius: 5px;
    }
    .book button {
       border: 1px solid #ddd;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
      background-color: #8ad793;
    }
  </style>
<div style="display: none"><input id="userId" value="{{userId}}"></div>
<form id="search-form" method="GET" class="d-flex align-items-center">
    <input id="search-query" type="text" name="query" class="form-control me-2" placeholder="Search..." aria-label="Search">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div id="search-results"></div>
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Added Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The book has been successfully added.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Add Failed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        There was an issue with the page. Please try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/search.js"></script>