<div style="display: none"><input id="userId" value="{{userId}}"></div>
<form id="search-form" method="GET">
    <input id="search-query" type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>

<div id="search-results"></div>
<script src="/js/search.js"></script>